
.inner-div{
    font-family: "Roboto","Arial",sans-serif;
    font-size: 13px;
    font-weight: 500;
    background-color: #3F3F3F;
}
.div{
    padding: 9px;
    border-radius: 10px;
    color: #F1F1F1;
    cursor: pointer;
    transition: 0.3s;
}   
.div:hover{
    background-color: #6D6D6D;
}
    